
*
{
margin: 0;
padding: 0;
box-sizing: border-box;
}
/* body
{
    background: rgb(34,193,195);
background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(221,253,45,0.9671218829328606) 100%);
} */
.Main
{
    position:relative;
    height: 100%;
    width: 100%;

}
.SetupDiv
{
position:absolute;
left:30%;
right:30%;
top:2%;
bottom:2%;
background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
border-radius: 20px;
display: grid;
grid-template-rows:15% 1fr;
}
.headerDiv
{
background-image: linear-gradient(to left top, #9b6bd1, #e164af, #ff7384, #ff9561, #e7bb57, #cfce64, #b4df7d, #96eea0, #84f2b5, #74f6ca, #66f9de, #5ffbf1);
text-align: center;
border-top-left-radius: 20px;
border-top-right-radius:20px ;
}
.headerDiv h1 
{
    margin-top: 2%;
    font-size: 3rem;
    text-shadow: 3px 1px 2px rgba(255,0,0,1);
}
.startbuttonDiv
{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius:20px ;
    text-align: center;
}
.startbuttonDiv button
{
    text-shadow: 3px 1px 2px rgba(200,0,0,1);
    margin-top: 40%;
    cursor: pointer;
    font-size:3rem;
    border-radius: 15px;
    padding: 2%;
    border:none;
    text-transform:capitalize;
    font-weight: bold;
    transition: 0.5s ease;
    background-image: linear-gradient(to right bottom, #9b6bd1, #558ff2, #00acf9, #00c3ec, #00d5d4, #3fddce, #60e5c7, #7cecc1, #74f0cd, #6df4d9, #65f8e5, #5ffbf1);

}
.startbuttonDiv button:hover
{
    font-size:3.5rem;
    transition: 0.5s ease;
}
.gamediv
{
display:grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr 1fr 1fr ;
padding: 1%;
}
.buttonDiv
{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;

}
.buttonDiv div
{
    text-align: center;
}
.buttonDiv div button
{
    margin-top: 5%;
    width:140px;
    height:60%;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
    background: #009FFF;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ec2F4B, #009FFF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ec2F4B, #009FFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
cursor: pointer;
transition: 0.2s ease;
}
.buttonDiv div button:hover
{
    transition: 0.2s ease;
    background: #009FFF;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #ec2F4B, #009FFF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #ec2F4B, #009FFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
color: white;

}
.congratulation
{
    text-align: center;
}
.congratulation h1
{
    margin-top: 20%;
    text-transform: uppercase;
    text-shadow: 3px 1px 2px rgba(255,0,0,1);
    font-weight: bold;
}
.congratulation b
{
    font-size: 30px;
    text-shadow: 3px 1px 2px rgba(255,0,0,1);

}
.newdiv
{
margin-top: 0;
font-size: 10px;
}
.elm
{
    border:1px solid white;
    box-sizing: border-box;
    float: left;
    cursor: move;
}
.elm1{background-position:0px 0px;}
.elm2{background-position:-141px 0px;}
.elm3{background-position:-282 0px;}
.elm4{background-position:-423 0px;}
.elm5{ background-position:0px -141px;}
.elm6{background-position:-141px -141px;}
.elm7{background-position:-282px -141px;}
.elm8{background-position:-423 -141px;}
.elm9{background-position:0px -282px;}
.elm10{background-position:-141px -282px;}
.elm11{background-position:-282px -282px;}
.elm12{background-position:-423px -282px;}
.elm13{background-position:0px -423px;}
.elm14{background-position:-141px -423px;}
.elm15{background-position:-282px -423px;}
.elm16{background-position:-423px -423px;}

#exit
{
    width:180px;
    margin-top: 3%;
    text-transform: capitalize;
}
#btn2
{
    margin-top: 0px;
}













.none
{
    display:none;
}